header {
    background-color: #454545;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
}

header * {
    text-decoration: none;
    margin: auto;
    padding: auto;
    display: inline;
    justify-content: center;
}

nav {
    background-color: #5b5b5b; /* Darker grey background */
    color: white; /* White text color */
    border-radius: 10px; /* Rounded border */
    padding: 10px; /* Padding */
    margin: 5px; /* Margin */
}

/* Individual border for each nav element */
nav a {
    background-color: #7d7d7d; /* Lighter grey background */
    color: rgba(255, 255, 255, 0.772); /* White text color */
    border: 2px solid #7d7d7d; /* Grey border */
    border: 2px solid #7d7d7d; /* Grey border */
    padding: 5px 10px; /* Padding */
    margin: 0 5px; /* Margin */
}

/* General styles */
body {
    position: relative;
    top: 20px;
    background-color: #454545; /* Medium grey background */
    font-family: 'Times New Roman', Times, serif; /* Font family */
}

/* Inventory styles */
.item {
    background-color: #7d7d7d; /* Lighter grey background */
    color: rgba(255, 255, 255, 0.772); /* White text color */
    border: 2px solid #7d7d7d; /* Grey border */
    border-radius: 10px; /* Rounded border */
    padding: 10px; /* Padding */
    margin: 5px; /* Margin */
    cursor: pointer; /* Cursor pointer on hover */
}

/* Button styles */
button {
    background-color: #808080; /* Grey background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded border */
    padding: 10px 20px; /* Padding */
    margin: 5px; /* Margin */
    cursor: pointer; /* Cursor pointer on hover */
}

/* Dropdown styles */
select {
    background-color: #808080; /* Grey background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded border */
    padding: 5px; /* Padding */
    margin: 5px; /* Margin */
    cursor: pointer; /* Cursor pointer on hover */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
    padding-top: 60px;
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #7d7d7d;
    width: 80%; /* Could be more or less, depending on screen size */
}
