header {
    background-color: rgb(0, 0, 0, 0.40);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15px;
}
header *{
    text-decoration: none;
    margin: auto;
    padding: auto;
    display: inline;
}
form {
    display: grid;
    justify-content: center;
    position: relative;
    padding-top: 50px;
}
.formBox {
    color: aliceblue;
    border: 1px;
    margin: 1px;
    padding: 1px;
}
body {
    background-color: rgba(0, 0, 0, 0.503);
}
#guest {
    position: relative;
    left: 35px;
    top: 20px;
}
